<section class="index-page">
  <div class="avatar">
    <a href={{picture}}></a>
  </div>
  <p class="welcomeName">
    Hello {{name}}!
  </p>

  <a href="/auth/logout" class="logout">
    Log OUT
  </a>
</section>